name: mpesa_flutter_plugin
description: Use this plugin to implement Lipa Na MPESA Online in your flutter app. This only gives you a payment initialization interface.
version: 1.6.1

homepage: https://github.com/keronei/mpesa_flutter_plugin

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  intl: ^0.17.0

dev_dependencies:
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

